.columns {
  &-container {
    /* Add general container styles here if needed */
  }

  &-button {
    width: 23vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    text-align: left;
    cursor: pointer;
    border: unset !important;
    margin-bottom: 5px;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    width: 23vw;
  }

  &-checkbox-container {
    display: flex;
    gap: 14px;
    justify-content: center;
    align-items: center;
  }

  &-custom-checkbox-default {
    appearance: none;
    background-color: #fff;
    font-size: 14px;
    width: 1em;
    height: 1em;
    color: white;
    border-radius: unset !important;
    border: 1px solid black;
  }

  &-custom-checkbox-default::before {
    content: "";
  }

  &-expanded-checked-active {
    appearance: none;
    font-size: 14px;
    width: 1em;
    height: 1em;
    border: unset !important;
    transform: translateY(-0.01em);
    border-radius: unset !important;
    display: grid;
    place-content: center;
    background-color: lightcoral !important;
  }

  &-expanded-checked-active::before {
    color: white;
    content: "✔";
    display: block;
    font-size: 9px;
    font-weight: 500 !important;
  }

  &-checked-selected {
    appearance: none;
    background-color: #fff;
    font-size: 14px;
    width: 1em;
    height: 1em;
    border: 1px solid #ccc !important;
    transform: translateY(-0.01em);
    border-radius: unset !important;
    display: grid;
    place-content: center;
    color: lightcora !important;
  }

  &-checked-selected::before {
    content: "-";
    display: block;
    font-size: 28px;
    font-weight: 200 !important;
  }

  &-active-and-selected {
    background-color: lightcoral;
  }

  &-default {
    background-color: white;
  }

  &-active-and-selected-text {
    color: white;
  }

  &-default-text {
    color: black;
  }
}
